<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zysy.iflytek.zhumang.user.mapper.IUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zysy.iflytek.zhumang.user.entity.User">
        <id column="id" property="id" />
        <result column="openid" property="openid" />
        <result column="session_key" property="sessionKey" />
        <result column="created_time" property="createdTime" />
        <result column="role" property="role" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="usual_address" property="usualAddress" />
        <result column="voice_settings" property="voiceSettings" />
        <result column="service_hours" property="serviceHours" />
        <result column="service_rating" property="serviceRating" />
        <result column="organization" property="organization" />
        <result column="certification_time" property="certificationTime" />
        <result column="username" property="username" />
        <result column="permission" property="permission" />
        <result column="nickname" property="nickname" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="id_card" property="idCard" />
        <result column="email" property="email" />
        <result column="password" property="password" />
    </resultMap>

    <insert id="insert" parameterType="zysy.iflytek.zhumang.user.entity.User">
        INSERT INTO user(
            openid, session_key, created_time, role, email, password
        ) VALUES(
            #{openid}, #{sessionKey}, #{createdTime}, #{role}, #{email}, #{password}
        )
    </insert>

    <update id="updateByOpenidSelective" parameterType="zysy.iflytek.zhumang.user.entity.User">
        update user
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="avatarUrl != null and avatarUrl != ''">
                avatar_url = #{avatarUrl},
            </if>
        </set>
        where openid = #{openid}
    </update>
</mapper> 