.tui-chat-h5 {
  flex: 1;
  position: static;
  max-height: 100%;

  .tui-chat-main {
    .tui-message-list {
      height: 100%;
    }

    .message-more {
      color: #999;
      cursor: pointer;
      font-size: 14px;
    }
  }
}
